@model ApplicationStore.Web.Areas.Developer.ViewModels.DeveloperApplicationsViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="container">
        @if (Model.Applications.Count() == 0)
        {
            <h2>We have no applications at the moment</h2>
        }
        else
        {
            <div>
                @foreach (var item in Model.Applications)
                {
                    <div class="col-md-4 bordered">
                        <h2>@item.Name</h2>
                        <div>
                            <img class="img-responsive img-rounded" src="@Url.Content(item.AppImage)" alt="@item.Name" />
                        </div>
                        <div>
                            <strong>Category: </strong> @item.Category
                        </div>
                        @Ajax.ActionLink("More Details...", "Details", "Application", new { id = item.Id },
                            new AjaxOptions
                            {
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = item.Id
                            }, new { @class = "btn btn-primary" })

                        @if (!(User.IsInRole(DbConstants.AdminRole) || User.IsInRole(DbConstants.DeveloperRole) || !User.Identity.IsAuthenticated))
                        {
                            @Html.ActionLink("Download", "GetApplication" , "Download", new { id = item.Id}, new { @class = "btn btn-info" })
                        }

                        <div id="@item.Id"></div>
                    </div>
                }
            </div>
        }
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryajax")
}