@model ApplicationStore.Web.Areas.Developer.ViewModels.AddApplicationViewModel

@{
    ViewBag.Title = "Add application";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Add", "Applications", FormMethod.Post, new { @class = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <h4>Add new application</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <br />
    <div class="form-group">
        @Html.LabelFor(m => m.Categories, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.CategoryId, new { ListItem = Model.Categories })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Description, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.UploadedApplication, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <input type="file" name="UploadedApplication" class="file" />
        </div>
    </div>
        <div class="form-group">
            @Html.LabelFor(m => m.UploadedImage, new { @class = "col-md-2 control-label" })
            <div class="col-md-10 fileinput fileinput-new">
                <input type="file" name="UploadedImage" class="file">
            </div>
        </div>
            <br />
            <div class="row">
                <div class="col-md-5 col-md-offset-2">
                    <input type="submit" class="btn btn-default" />
                </div>
            </div>
}
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
