@model ApplicationStore.Web.Areas.Developer.ViewModels.DeveloperApplicationsViewModel

@{
    ViewBag.Title = "Uploaded";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Applications.Count() == 0)
{
    <h3>There are no applications uploaded by you</h3>
}
else
{
    <div>
        @foreach (var item in Model.Applications)
        {
            <div class="col-md-4 bordered">
                <h2>@item.Name</h2>
                <div>
                    <img class="img-responsive img-rounded" src="@Url.Content(item.AppImage)" alt="@item.Name" />
                </div>
                <div>
                    <strong>Category: </strong> @item.Category
                </div>
                <a href="/Applications/Details/@item.Id" class="btn btn-default">More Details...</a>
            </div>
        }
    </div>
}
<br />
<div>
    <nav>
        <ul class="pagination">
            @if (Model.CurrentPage > 1)
            {
                <li>
                    <a href="/Developer/Applications/Uploaded/@(Model.CurrentPage - 1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }
            @for (int i = 1; i < Model.TotalPages; i++)
            {
                var className = string.Empty;
                if (Model.CurrentPage == i)
                {
                    className = "active";
                }
                <li class="@className"><a href="/Developer/Applications/Uploaded/@i">@i</a></li>
            }
            @if (Model.CurrentPage < Model.TotalPages)
            {
                <li>
                    <a href="/Developer/Applications/Uploaded/@(Model.CurrentPage+1) " aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
</div>
<div>
    @Html.ActionLink("Add Application", "AddApplication", null, new { @class = "btn btn-info" })
</div>
